@charset "utf-8";

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Sawarabi Mincho";
}

.wrap{
	width:900px;
	margin:auto;
}

h1{
	padding:20px;
	font-size:40px;
}

.clearfix{
	content:"";
	display:block;
	clear:both;
}

.main img{
	width:100%;
}

.main ol{
	float:left;
	width:500px;
}

.namae{
	float:left;
	font-size:25px;
	padding-top:150px;
}

.box{
	width:270px;
	float:left;
	margin-right:20px;
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
}

.box img{
	width:100%;
}

.main3{
	width:500px;
	float:left;
	padding-bottom:50px;
}

.main3 img{
	width:100%;
}

.main3 p{
	float:left;
}

.main3 ul{
	float:left;
	padding-left:20px;
}

.box2{
	text-align:center;
}

ul{
	list-style-type:none;
}

.set{
	float:left;
	border:double 6px #000;
	margin-left:90px;
	padding:20px;
}

h3{
	border-bottom:dotted 3px #000;
}

.set ul{
	padding:20px;
	line-height:2.0;
}


